body {
    background-color: rgb(211, 16, 195);
}
.btn {
    background: rgba(204, 12, 124, 0.212);
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
}

#a1{
    display: none;
}
#a2{
    display: none;
}
#a3{
    display: none;
}
#a4{
    display: none;
}#a5{
    display: none;
}


.aba1{
    background-color: rgb(191, 15, 197);
    width: 100%;
    height: 400px;
}
.aba2{
    background-color: rgb(182, 9, 235);
    width: 100%;
    height: 400px;
}
.aba3{
    background-color:  rgb(146, 31, 150);
    width: 100%;
    height: 400px;
}
.aba4{
    background-color: rgb(138, 26, 100);
    width: 100%;
    height: 400px;
}
.aba5{
    background-color: rgb(165, 22, 89);
    width: 100%;
    height: 400px;
}

.conteudo {
    width: 100%;
    text-align: center;
}

.tablet {
    display: none;
}

.desktop {
    display: none;
}

.barra {
    width: 100%;
    height: 50px;
    background-color: rgb(151, 25, 63);
    text-align: center;
}
.mobile {
    font-size: 48px;
    color: rgb(0, 0, 0);
}

@media (min-width:720px) {
    .barra{
        height: 80px;
        background-color: rgb(25, 168, 187);
    }
    .mobile{
        display: none;
    }
    .tablet{
        display: inline;
        font-size: 60px;
        color: rgb(0, 0, 0);
    }
    .conteudo{
        text-align: right;
    }
    .btn{
        margin-top: 0px;
        font-size: 24px;
    }
}

@media (min-width: 1228px) {
    .barra {
        height: 100px;
        background-color: rgb(138, 21, 93);
    }
    .tablet {
        display: none;
    }
    .desktop {
        display: inline;
        font-size: 90px;
        color: rgb(0, 0, 0);
    }
    .conteudo{
        text-align: left;
    }
}

