button {
    background-color: rgb(177, 166, 187);
}
.btn{
    background-color: antiquewhite;
    margin-top: 100px;
    width: 50%;
    font-size: 40px;
}
.conteudo{
    width: 100%;

}
body {
    background-color: rgb(212, 19, 116);
}
.tablet{
    display: none;
    font-size: 60px;
    color: blue;

}
.conteudo{
    text-align: right;
}
.btn{
    margin-top: 0px;
    font-size: 24x;
}
.desktop{
    display: none;
}
.barra{
   width: 100%;
   height: 80px;
   background-color: rgb(255, 255, 255);
   text-align: center;
}
.mobile{
    font-size: 60px;
    color:rgb(0, 0, 0);
}
@media (min-width:720px) {
    .barra{
        height:80px ;
        background-color: rgb(109, 10, 139);
    }
    .mobile{
        display: none;
    }
    .tablet{
        display: inline;
        font-size: 60px;
        color: blueviolet;
    }
}
@media (min-width: 1228px) {
    .barra {
        height: 100px;
        background-color: black
    }
    .tablet{
        display: none;
    }
    .desktop{
        display: inline;
        font-size: 90px;
        color: aquamarine;
    }
 .conteudo{
    text-align: left;
 }
}